.container{
    display:flex;
    align-items: center;
    justify-content:space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--primaryColor);
    color:var(--textColor);
      
}

nav a{
    margin:0 1rem;
    color: var(--textColor);
    text-decoration: none;
    font-size: 1.7rem;
    
}

nav a:hover{
    color: var(--secondaryColor);
    

}

.container .nav-btn{
    padding:2x;
    cursor:pointer;
    background:transparent;
    border:none;
    outline:none;
    color: var(--textColor);
    visibility:hidden;
    opacity: 0;
    font-size: 1.8rem;
    z-index: 500;
    
    
}

.container div, nav{
    display: flex;
    align-items: center; 
    
}



ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#002652;
    color: var(--textColor);
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    color:rgb(241, 136, 30);
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}




.rights{
    float:left;
    background:rgba(250, 246, 4, 0.692);
    position: relative;

}










@media only screen and (max-width:1024px){
    .container .nav-btn{
        visibility: visible;
        opacity:1;
    }
    .container nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: center;
        gap:2rem;
        background-color:var(--primaryColor);
        transition: 0.5s;
        transform: translateX(100vh);
        z-index: 500;
    }

    .container .responsive{
        transform: none;
    }

    nav .nav-close-btn{
        position:absolute;
        top: 2rem;
        right: 2rem;

    }

    nav a{
        font-size: 1.5rem;
    }
}